*{box-sizing:border-box;padding: 0;margin: 0;outline:none;}

#hi5_loading{
    position:fixed;
    width:100%;
    height:100%;
    z-index:9999;
    background:url(../images/loading.gif) no-repeat center;
}
.hi5_autocomplete{
	position:fixed;
	display:none;
	top: -999px;
	left: -999px;
}
input::-ms-clear {
    display:none;
}
.textsize
  {
  padding:0;
  float:right;
  font-size:11px;
  color:#4682B4;
  }

.textsize a
  {
  color:#4682B4;
  outline:none;
  padding:0 1px;
  text-decoration:none;
  }

.textsize a.small
  {
  font-size:10px;
  }

.textsize a.big
  {
  font-size:14px;
  }

.textsize a.bigger
  {
  font-size:18px;
  }

.textsize a:hover
  {
  color:#333;
  }


.wait  { cursor: wait !important; }
.cell_pointer:hover{text-decoration: underline;cursor: pointer;}
.pointer:hover{cursor: pointer;}

/**/

.picPrc{cursor:pointer}
.align_l{text-align:left !important}
.align_r{text-align:right !important}
.align_c{text-align:center !important}


/* 테이블 thead 숨기기 */
.th_hidden {*position:absolute;*top:-9999px;*left:-9999px}
.th_hidden th{height:0 !important;line-height:0 !important;font-size:0 !important;padding:0 !important;border:none !important}
.th_hidden th > span{position:absolute;top:-9999px;left:-9999px;text-indent:-9999px}

/* col 테이블 */
.col_table{font-size:12px}
.col_table th{overflow:hidden;height:19px;font-weight:normal !important;text-align:center;}
.col_table td{padding:0 3px;height:20px;line-height:20px;text-align:right;}
.col_table td.p_none{padding:0 !important}
.col_table tr.p_none td{padding:0 !important}


/* ColTable color (ct_theme TYPE3 td 아래 border만 있음) */
.ct_theme tbody td{border-left:1px solid #e1e1e3; border-bottom:1px solid #e1e1e3;}
.ct_theme tr:first-child,
.ct_theme td:first-child{border-left:none}


table.hoga_tbl, table.table_ctl{
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0px;
    white-space: nowrap;
    border-width : 1px;
    border-style : solid;
    position : absolute;
}

/* 호가 테이블 */



/*.hoga_tbl {font-size:14px}*/
.hoga_tbl th,th{font-weight:normal;overflow:hidden;}
/*.hoga_tbl td{font-weight:normal; padding:0 4px;height:14px;line-height:14px;text-align:right}*/
.hoga_tbl td,th{font-weight:normal; padding:0 3px; text-align:right; /*overflow:hidden;*/white-space:nowrap;text-overflow: ellipsis;}
/*.hoga_tbl td{border-top:none ; border-left: none ;border-right-width:1px; border-right-style:solid; border-bottom-width:1px; border-bottom-style:solid ; position:relative; }*/
.hoga_tbl td,th{border-top:none ; border-left: none ;border-right-width:1px; border-right-style:solid; border-bottom-width:1px; border-bottom-style:solid ; }
/*.hoga_tbl td{border : 1px solid; }*/
.hoga_tbl td,th{ /*height:100%;*/line-height:17px;vertical-align:middle;}


/*환산가격 css*/
.convertprice {
    font-size: 10px !important;
    font-weight: normal;
    color: #5c5c5c;
}
.convertprice_v{
    padding-top : 1px;
}

.convertprice_h {
    display :inline-block;
    padding-left : 1px;
}

/*hoga graph start*/
.rest_span{
    position: relative;
    /*z-index: 5;*/
}

.sell_rest_div{
    position: relative;
    height : 38px;
    text-align: right;
    padding-right:2px;
}

.sell_rest_em{
    font-style:normal; 
    font-weight:normal;
    position: absolute;
    right:0; top:0; bottom:0; background: #d3e4f7;
}

.buy_rest_div {
    height : 38px;
    position: relative;
    text-align: left;
    padding-left:2px;
}

.buy_rest_em{
    font-style:normal; 
    font-weight:normal;
    position: absolute;
    left:0; top:0; bottom:0; background: rgba(72, 185, 111, 0.15);
}


/*hoga graph end*/
.hoga_tbl table tbody td.rest {padding: 6px 0;}
.hoga_tbl table tbody td.rest > div {position: relative;height:31px;line-height: 30px;text-align: right;padding-right:14px;}
.hoga_tbl table tbody td.rest > div  span { font-size:16px; color: #3d4851; position: relative; z-index:5; }
.hoga_tbl table tbody td.sell td.rest em { position: absolute; right:0; top:0; bottom:0; background: #d3e4f7; }
.hoga_tbl table tbody td.buy  td.rest em { position: absolute; right:0; top:0; bottom:0; background: #f8d8d7; }




.curframe_up{ outline: 2px solid #f00 !important; outline-offset : -2px !important;font-weight :bold !important}
.curframe_down{ outline: 2px solid #00f !important; outline-offset: -2px !important;font-weight :bold !important}
.curframe_euq{ outline: 2px solid #000 !important; outline-offset: -2px !important;font-weight :bold !important;}

.hoga_prc_sell_cell{ background-color: #b2dfff !important;font-weight :bold !important;}
.hoga_prc_buy_cell{ background-color: #ffc3d6 !important;font-weight :bold !important;}

/*잔량그래프,텍스트 css*/
/*
 .SellQtyGraph{position:absolute;top:1px;height:85%;display:inline-block;right:-3px;background-color:#ddedfe;}
 .BuyQtyGraph{position:absolute;top:1px;height:85%;display:inline-block;left:-3px;background-color:#fee9f1;}
*/
.RightQtyDiv{letter-spacing: 1px;text-align: right;position: relative;height: 90%;}
.LeftQtyDiv {letter-spacing: 1px;text-align: left;position: relative;height: 90%;}
.SellQtyGraph{display:inline-block;background-color:#d3e4f7;vertical-align: middle;text-indent: 999em;text-align: right;height: 100%;line-height: inherit;}
.BuyQtyGraph{display:inline-block;background-color:#f8d8d7;vertical-align: middle;text-indent: 999em;text-align: left;height: 100%;line-height: inherit;}

.RightQtyText{position:absolute;top: 10%;right:2px;display:inline-block;height: inherit;line-height: inherit;}
.LeftQtyText{position:absolute;top: 10%;left:2px;display:inline-block;height: inherit;line-height: inherit;}



/* Normal 테이블 */
/*.table_ctl {font-size:14px}*/
.table_ctl th{font-weight:normal;overflow:hidden;}
/*.hoga_tbl td{font-weight:normal; padding:0 4px;height:14px;line-height:14px;text-align:right}*/
.table_ctl td{font-weight:normal; padding:0 3px; text-align:right; overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
.table_ctl td{border-top:none ; border-left: none ;border-right-width:1px; border-right-style:solid; border-bottom-width:1px; border-bottom-style:solid ;}
.table_ctl td{ /*height:18px;*/line-height:18px; vertical-align:middle;}

/*td.td_hover:hover {  background-color: #b2dfff !important;font-weight :bold !important}*/


/*
    // 동적
.hoga_tbl_id td{
    background:#ffffff; color:#000
    }

.hoga_tbl_id td{
    border-color:#ffffff

}
*/



.hoga_tbl td.sum{letter-spacing:-1px;padding:0 !important;text-align:center}
.hoga_tbl tr.lsm > td{letter-spacing:-1px}
.hoga_tbl tr.hoga_head > td{text-align:center !important}

.hoga_tbl .pt td{*padding-top:0;*height:23px;*vertical-align:bottom} /*ie7*/
 hoga-tbl .pb td{*padding-bottom:0; *height:23px; *vertical-align:top }/*ie7*/
.hoga_tbl tr.hoga_head td{height:20px;line-height:20px;text-align:center;padding:0}
/*.hoga_tbl td{height:18px;line-height:18px}*/

.hoga_tbl_theme th,
.hoga_tbl_theme tr.hoga_head td{background:#ededed;border-left:1px solid #ccc;border-bottom:1px solid #aeaeae;color:#000}
.hoga_tbl_theme td{border-left:1px solid #e0e1e3}
.hoga_tbl_theme th:first-child,
.hoga_tbl_theme td:first-child,
.hoga_tbl_theme tr.hoga_head td:first-child{border-left:none}
.hoga_tbl_theme td.bgc{background:#f3f3f3}

/*hoga popup*/
.hoga_popupBox_left{
  background-color: #d60000;
  color: white;
  float: left;
  cursor: pointer;
  height: 100%;
}
.hoga_popupBox_center{
  background-color: white;
  height: 100%;
  float:left;
}
.hoga_popupBox_right{
  background-color: #014dab;
  color: white;
  float: right;
  cursor: pointer;
  right: 0px;
  position: absolute;
  height: 100%;
}
.hoga_popupBox{
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index : 100;
  box-shadow: 0px 0px 20px #111;
}
/* border */
.uline{border-bottom:1px solid #e0e1e3 !important}
.lline{border-left:1px   solid #e0e1e3 !important}


.bl{border-left:1px solid #e0e1e3 !important}
.br{border-right:1px solid #e0e1e3 !important}

/* 붉은,파랑 배경 */
.red_bg{background-color:#fdf5fa}
.blue_bg{background-color:#eef4fc}

/*************************************************/

/* form 컨트롤 front용 */
#hi5_tradeCenter .form{
    background-color:#1c283e;
}
/* form 컨트롤 어드민용 */
#hi5_content .form{
    background-color:inherit;
}

/*******************************************************************/
/*    dialog style:   ;*/

.hi5_dlg_container{
  display: table;
  z-index: 600;
  position:absolute;
  top:0;
  left:0;
  overflow: hidden;
}
.hi5_dlg_cell{
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}
.hi5_dlg{
  background: white;
  position: relative;
  display: inline-block;
  width:320px;
  height:220px;
  border:1px solid #324d66;
      box-sizing: content-box;

}
.hi5_dlg_top{
  width:100%;
  height:23px;
  box-sizing: border-box;
  cursor:move;
  line-height: 23px;
  padding-left: 6px;
}

.hi5_dlg_form{
  width:100%;
  height:100%;
  height:calc(100% - 22px);
  box-sizing: border-box;
  position : relative;
  overflow:hidden;
  border-bottom:1px solid #324d66;
}
.hi5_dlg_maximizebtn{
    width:28px;
  height:15px;
  display:block;
  float:right;
  cursor:pointer;
  margin: 4px 2px 0 0;
}
.hi5_dlg_minimizebtn{
    width:28px;
  height:15px;
  display:block;
  float:right;
  cursor:pointer;
  margin: 4px 2px 0 0;
}
.hi5_dlg_closebtn{
  width:28px;
  height:15px;
  display:block;
  float:right;
  cursor:pointer;
  margin: 4px 2px 0 0;
}
.hi5_dlg_fr{
  width: 100%;
  height: calc(100% - 22px);
}
.hi5_dlg_logo{
  margin-right:2px;
  width: 21px;
  height: 21px;
  float: left;
}
.hi5_dlg_blinder{
position: fixed;
width: 100%;
top: 0;
height: 100%;
left: 0;
background-color:grey;
opacity:0.3;
}fieldset {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    user-select:none;
    -o-user-select:none;
    outline-style:none;
}
.loading_img{
  width: 100%;
  height: 100%;
}

fieldset{
    margin:0;
    padding:0;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#timeoutmessage {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 999999; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#timeoutmessage.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    /*-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;*/

    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.top_title{
  margin: 0 auto;
  width: 300px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: white;
}
.form_layout{
  height:calc(100% - 300px);
}
/*ace editor start*/
.debcon{
  position: fixed;
  bottom: 0px;
  height: 60%;
  width: 100%;
  display: none;
}
.debexplain{
  width:100%;
  top: 0px;
  position : relative;
  background-color: #eee;
  height: 30px;
  color: red;
  padding-left: 20px;
  z-index: 9999;
}
.debClosebtn{
  width: 30px;
  height: 30px;
  position: absolute;
  top:0px;
  right: 0px;
  cursor : pointer;
  z-index: 100000;
}
.myMarker {
  position:absolute;
  background:red;
  
}
.debeditor{
  position: absolute;
  width: 100%;
  height: 100%;
  height:calc(100% - 30px);
  bottom: 0px;
  left: 0px;
  z-index: 9998;
}
.ace_line>span{
  font-size:12px;
  line-height: 12px;
}
/*ace editor end*/

/*.slider{
    position:absolute;
    border:0px solid #ACACAC;
    background-color:#FFFFFF;
    color:#202020;
}*/


.langFlag{
    height: 14px;
    width : 21px;
}

#langList{
  z-index: 2147483645;
  margin:1px; 
  padding:0; 
  list-style:none;
  overflow:visible; 
  display:block;
  position: absolute;
  background-color:white; 
  color:black;
  width:120px;
  right:55px;
  top:28px;
}

#langDiv{
    height:24px;
    padding:2px;
    cursor: pointer;
    color:black;
    background-color:transparent;
    float:right;
}

.symbol_img{width:24px;height:24px;background-size:22px 22px;background-position:center center;background-repeat:no-repeat;margin-left:2px;}

.hi5_flag{
    display:block;
    background-repeat: no-repeat;
    background-size:14px,14px;
    width:25px;
    height:18px;
    float:left;
    background-position: center;
    margin-top:4px !important;
    margin-left:2px !important;
    margin-right:2px !important;
}

#langDiv .hi5_flag{
    margin-top:4px !important;
}

#langDiv .lname{
    float :left;
    line-height:21px;
}

#langDiv .hi5_arrow{
    display:block;
    width:10px;
    height:10px;
    float:right;
    margin-top:9px !important;
    margin-right:2px !important;
}

.ui-dialog { z-index: 1000 !important ;}

.ui-dialog .ui-dialog-titlebar-close{
    margin: -2px 6px 0 0 !important;
    background-color:#324d66;
    width:0px !important;
    height:0px !important;
}


.ui-dialog .ui-dialog-titlebar-close .ui-icon{
    width:15px !important;
    height:15px !important;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable{
    /*position:fixed!important;
    top:40%!important;
    left:40%!important;*/
}
.hi5_nologin{
    top:0;
    left:0px;
    width:100%;
    height:100%;
    min-height:200px;
    z-index:80;
    background-color:inherit;
    opacity:0.9;
    text-align:center;
    position: absolute;
    box-sizing: unset;
    border: 0px solid #ACACAC;
    color: inherit;
    font-size: 20px;
    font-weight: 700;
}

#hi5_reconnectDiv{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2147483647;
    background-color:#ddd;
    opacity:0.8;
}

#hi5_reconnectDiv > .hi5_spinnerDiv{
    width:150px;
    height:150px;
    margin:250px auto;
}

.hi5_spinnerDiv > i{
    font-size:10em;
}


/*Flip Switch cls ...start*/
.on-off-switch{
    position:relative;
    cursor:pointer;
    overflow:hidden;
    user-select:none;
}

.on-off-switch-track{
    position:absolute;
    /*border : solid #888;*/
    z-index:1;
    background-color: #fff;
    overflow:hidden;
}

/* semi transparent white overlay */
.on-off-switch-track-white{
 /*   background-color:#FFF;*/
    position:absolute;
    opacity:0.2;
    z-index:30;
}
/* Track for "on" state */
.on-off-switch-track-on{
    background-color:#2196F3;
    border-color:#2196F3;
    position:absolute;
    z-index:10;
    overflow:hidden;
}
/* Track for "off" state */
.on-off-switch-track-off{
    position:absolute;
    border-color:#CCC;
    z-index:1;
}

.on-off-switch-thumb{
    position:absolute;
    z-index:2;
    overflow:hidden;
}

.on-off-switch-thumb-shadow{
    opacity:0.5;
    border:1px solid #000;
    position:absolute;
}

.track-on-gradient, .track-off-gradient{

    background: -webkit-linear-gradient(180deg,rgba(0,0,0,0.2), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0)); /* Standard syntax */
    position:absolute;
    width:100%;
    height:5px;
}


.on-off-switch-thumb-color{
    background: -webkit-linear-gradient(45deg, #BBB, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #BBB, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #BBB, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #BBB, #FFF); /* Standard syntax */
    background-color:#F0F0F0;
    position:absolute;
}

.on-off-switch-thumb-off{
    border-color:#AAA;
    position:absolute;
}
.on-off-switch-thumb-on{
    border-color:#008855;
    z-index:10;
}
.on-off-switch-text{
    width:100%;
    position:absolute;
    font-family:inherit;
    user-select:none;
    font-size:inherit;
}

.on-off-switch-text-on{
    color:#FFF;
    text-align:left;
}
.on-off-switch-text-off{
    color:#000;
    text-align:right;
}
/* Mouse over thumb effect */
.on-off-switch-thumb-over{
    background-color:#F5F5F5;
    background: -webkit-linear-gradient(45deg, #CCC, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #CCC, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #CCC, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #CCC, #FFF); /* Standard syntax */

}
/* flip switch...end*/

/* width 
#hi5_leftTop *::-webkit-scrollbar, #hi5_contents *::-webkit-scrollbar, #hi5_content *::-webkit-scrollbar {
    width: 5px;
    height:5px;
}
*/
/* Track 
#hi5_leftTop *::-webkit-scrollbar-track, #hi5_contents *::-webkit-scrollbar-track, #hi5_content *::-webkit-scrollbar-track {
    background-color:transparent;
    border-radius: 10px;
}
 */
/* Handle 
#hi5_leftTop *::-webkit-scrollbar-thumb, #hi5_contents *::-webkit-scrollbar-thumb, #hi5_content *::-webkit-scrollbar-thumb {
    background: rgba(15,172,243,.1); 
    border-radius: 10px;
}
 */
/* Handle on hover 
#hi5_leftTop *::-webkit-scrollbar-thumb:hover, #hi5_contents *::-webkit-scrollbar-thumb:hover, #hi5_content *::-webkit-scrollbar-thumb:hover {
    background: rgba(15,172,243,1); 
}
 */


/*https://www.w3schools.com/cssref/css_entities.asp*/
/* 상승부호(뒤에 표시)*/
.up_sign:after{
    content: ' \25B2';
}

/*하락부호(뒤에 표시)*/
.low_sign:after{
    content: ' \25BC';
}
/*보합(뒤에 표시)*/
.balance_sign:after{
    content: ' \00a0 \00a0 \00a0'; /*NO-BREAK SPACE */
}


/* 상승부호(앞에 표시)*/
.up_sign_b:before{
    content: ' \25B2';
}

/*하락부호(앞에 표시)*/
.low_sign_b:before{
    content: ' \25BC';
}

/*보합(뒤에 표시)*/
.balance_sign_b:before{
    content: ' \00a0';  /*NO-BREAK SPACE */
}

/*splitter*/
.splitter_panel {
    position: relative;
  
  }
  
  /*수직 Splitter */
  .splitter_panel .vsplitter {
      background-color :lightgrey; 
      border-radius: 10px;
      cursor: col-resize;
      z-index:900;
      width: 6px;
  }
  
  /*수평 Splitter */
  .splitter_panel .hsplitter {
      background-color :lightgrey; 
      border-radius: 10px;
      cursor: row-resize;
      z-index: 800;
      height: 6px;
  }
  
  .splitter_panel .vsplitter:hover,
  .splitter_panel .hsplitter:hover {
      background-color :#cbe1fb; 
  }
  
  .splitter_panel .vsplitter.splitter-invisible,
  .splitter_panel .hsplitter.splitter-invisible {
      background: none;
  }
  
  .splitter_panel .vsplitter,
  .splitter_panel .left_panel,
  .splitter_panel .right_panel,
  .splitter_panel .hsplitter,
  .splitter_panel .top_panel,
  .splitter_panel .bottom_panel,
  .splitter_panel .horizontal_panel,
  .splitter_panel .vertical_panel {
      position: absolute;
      overflow: auto;
  }
  
  .splitter_panel .vsplitter,
  .splitter_panel .left_panel,
  .splitter_panel .right_panel,
  .splitter_panel .vertical_panel {
    height: 100%;
  }
  .splitter_panel .hsplitter,
  .splitter_panel .top_panel,
  .splitter_panel .bottom_panel,
  .splitter_panel .horizontal_panel {
    width: 100%;
  }
  .splitter_panel .top_panel,
  .splitter_panel .left_panel,
  .splitter_panel .vsplitter,
  .splitter_panel .vertical_panel {
     top: 0;
  }
  .splitter_panel .top_panel,
  .splitter_panel .bottom_panel,
  .splitter_panel .left_panel,
  .splitter_panel .hsplitter,
  .splitter_panel .horizontal_panel {
     left: 0;
  }
  .splitter_panel .bottom_panel {
     bottom: 0;
  }
  .splitter_panel .right_panel {
     right: 0;
  }
  
  .splitterMask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
  /*Splitter end*/

/* info 버튼 css (Assets내부) */
.asset_info {
    width: 14px;
    height: 14px;
    background-color: #afb9ca!important;
    border-radius: 10px;
    text-align:center;
}
.asset_info > i{
    color: #000;
    font-size: 10px;
    position: absolute;
    top:2px;
    left:6px;
}
.asset_selected.asset_info {
    background-color: #3075ee!important;
}

.info_text{
    font-size: 17px!important;
    letter-spacing: -0.34px;
    line-height: 1.75;
    color: #afb9ca!important;
}
.info_text2{
    font-size: 13px!important;
}
.asset_sect.asset_clicked .info_text > a:first-child, .total_asset .info_text:first-child > a:first-child{
    color:#ffffff!important;
}

/* 툴팁 화면 공동 영역 */
#hi5_tooltipScreen{
    z-index: 9999;
    position: fixed;
    display: inline-block;
    border: 1px solid #5492ff;
    background-color: #142548;
}
#hi5_tooltipScreen:after {
    content: '';
    position: absolute;
    border-bottom: 10px solid #142548;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: -10px;
    left: 55px;
}
.theme-light #hi5_tooltipScreen{
    background-color: #3075ee;
}
.theme-light #hi5_tooltipScreen:after {
    border-bottom: 10px solid #3075ee;
}
#hi5_tooltipScreen.upjisu:after {
    left: 155px !important;
}

#hi5_tooltipScreen > table{
    width:100%;
    border-collapse: collapse;
}
.ttip_left{
    text-align:left;
    font-size:14px;
    color:#adb2ba;
    padding-left:7px;
}
.ttip_right{
    text-align:right;
    font-size:13px;
    color:#afb9ca;
    padding-top:4px;
    padding-right:7px;
}
.ttip_right2{
    text-align:right;
    font-size:12px;
    color:#5c7ca1;
    padding-bottom:4px;
    padding-right:7px;
}
.ttip_odd{
    background-color:#182337;
}
.ttip_spot_left{
    padding-left:15px;
    background-color:#0c1929;
}
.ttip_spot_right{
    padding-right:15px;
    background-color:#0c1929;
}
.spot_bottom{
    margin:0px 10px 10px 10px;
}
.spot_bottom > table{
    width:100%;
    border-collapse:collapse;
}
/* 툴팁 화면 공동 영역 끝 */

/* 다이얼로그 css */
#hi5_msgbox{
    font-size: 13px;
    text-align: center;
    color:#adb2ba;
    background:#1c283e;
}

.hi5_title_bg{
    height: 39px;
    line-height:39px;
    color:#adb2ba;
    background:#1c283e;
    border:0;
    /*border-bottom:solid 1px #141d2d;*/
    padding: 0 !important;
    border-radius: 0 !important;
    margin : 6px;
}

.ui-dialog{
    color:#adb2ba;
    background:#1c283e;
    border: 0!important;
}
.ui-dialog .ui-widget-content, .ui-dialog.ui-widget-content{
    background:#1c283e;
    border-top:1px solid #141d2d;
}
.hi5_dialogBtn_ok{
    background:#2e67cc;
    color:#ffffff;
    font-size:14px;
    border-radius:4px;
    width:100px;
    height:34px;
    border:0;
}
.hi5_dialogBtn_close{
    background:#343f54;
    color:#adb2ba;
    font-size:14px;
    border-radius:4px;
    width:100px;
    height:34px;
    border:0;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    float:none;
    text-align:center;
}

/* 달력 datepicker */
.ui-datepicker.ui-widget.ui-widget-content{
    background:#1c283e;
    border-color:#3075ee;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
    background:#0c1929;
    color:#afb9ca;
    font-size:13px;
    border:0;
    vertical-align:text-bottom;
    margin-right:2px;
}
.ui-datepicker-calendar th{
    color:#afb9ca;
    font-weight:500;
}
.ui-datepicker-calendar .ui-state-default{
    border-color:#333e55;
    background:#1c283e;
    color:#afb9ca;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{
    background:inherit;
    border:0;
}
.ui-datepicker-month{
    margin-right:2px;
}
/*커스텀 툴팁*/
.hi5-request {
    display:none;
}

div.ui-tooltip{
  word-break:break-all;
  
  max-width: 400px !important;
  width: auto !important;
  
  font-size:10pt;
  border:1px solid #5492ff !important;
  background: #142548;
  color: #fff;
  box-shadow: none;
  padding: 0;
  opacity: 1;
}
.theme-light div.ui-tooltip{
    background: #3075ee;
}
.ui-tooltip-content {
    position: relative;
    padding: 0.5em;
}
/*
.ui-tooltip-content:after {
    content: '';
    position: absolute;
    border-top: 10px solid #3075ee;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    bottom: -10px;
    left: 45%;
}
*/

.ui-tooltip-content::after {
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}

.right .ui-tooltip-content::after {
    top: 47%;
    left: -10px;
    border-color: transparent #333;
    border-width: 10px 10px 10px 0;
}

.left .ui-tooltip-content::after {
    top: 47%;
    right: -10px;
    border-color: transparent #333;
    border-width: 10px 0 10px 10px;
}

.top .ui-tooltip-content::after {
    bottom: -10px;
    left: 50%;
    border-color: #333 transparent;
    border-width: 10px 10px 0;    
}
.bottom .ui-tooltip-content::after {
    top: -10px;
    left: 50%;
    border-color: #333 transparent;
    border-width: 0 5px 5px;
}
/* 툴팁    */
.tooltipTitle {
    color : #fff;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 2px;
    margin-bottom: 6px
}

.tooltipWrapper {
    cursor: help
}
.tooltipWrapper.right {
    float: right
}

.tooltipWrapper.vertFlip {
    top: 0;
    bottom: auto
}

/*그리드 헤더셀 툴팁*/
.pq-title-span-tooltp {
    cursor: help;
}



/* ---------- 창민 추가 ---------- */

.img_search {
    background-image: url("./images/img_search.png");
    border: none;
    background-size: contain;
    background-color: rgba( 255, 255, 255, 1 );
    pointer-events: none;
}

.clicked_star{
    background-image: url("./images/unclicked_star.png");
    border: none;
    background-size: contain;
    /* background-size: cover; */
    background-color: rgba( 255, 255, 255, 0.5 );
}

.check {
    background-image: url("./images/clicked_star.png");
    border: none;
    background-size: contain;
    /* background-size: cover; */
    background-color: rgba( 255, 255, 255, 0.5 );

}


.unchecked_item {
    background-image: url("s./image/unchecked_item.png");
    border: none;
    background-size: contain;
    /* background-size: cover; auto */
    background-color: rgba( 255, 255, 255, 0.5 );
    pointer-events: none;
}

.checked_item {
    background-image: url("./images/checked_item.png");
    border: none;
    background-size: contain;
    /* background-size: cover; */
    background-color: rgba( 255, 255, 255, 0.5 );
    /* pointer-events: none; */
}

.order_rest {
    background-image: url("./images/order_rest.png");
    border: none;
  
    /* Full height */
    height: 100%;
    /* Right and fit the image */
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  
    /* background-size: cover; */
    background-color: rgba( 255, 255, 255, 0.5 );
    /* pointer-events: none; */
}

.order_che {
    background-image: url("./images/order_che.png");
    border: none;

    /* Full height */
    height: 100%;
    /* Right and fit the image */
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    /* background-size: cover; */
    background-color: rgba( 255, 255, 255, 0.5 );
    /* pointer-events: none; */
}



.spinBoxUp {
    background-image: url("./images/btn_plus.png");
    border: none;
  
    /* Full height */
    /* Right and fit the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
  
    /* background-size: cover; */
    background-color: rgba( 255, 255, 255, 0.5 );
    /* pointer-events: none; */
}

.spinBoxDown {
    background-image: url("./images/btn_minus.png");
    border: none;

    /* Full height */
    height: 100%;
    /* Right and fit the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
    
    /* background-size: cover; */
    background-color: rgba( 255, 255, 255, 0.5 );
    /* pointer-events: none; */
}

.spinBoxDown {
    background-image: url("./images/btn_minus.png");
    border: none;

    /* Full height */
    height: 100%;
    /* Right and fit the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
    
    /* background-size: cover; */
    background-color: rgba( 255, 255, 255, 0.5 );
    /* pointer-events: none; */
}


.hide_box {
    background-image: url("./images/ho_resist1.bmp");
    border: none;

    /* Full height */
    height: 100%;
    /* Right and fit the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color: rgba( 255, 255, 255, 1 );
}

.show_box {
    background-image: url("./images/ho_support1.bmp");
    border: none;

    /* Full height */
    height: 100%;
    /* Right and fit the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color: rgba( 255, 255, 255, 1 );
}



.full_grid {
    height: 100%;
}


.disabled {
    display: none;
    width: 0;
    height: 0;
    background-color: rgba( 255, 255, 255, 0.2 );
}

.scroll::-webkit-scrollbar {
    display: none;
  }

.scroll { 
    padding:5px; 
    overflow-x: auto; 
    overflow-y: hidden; 
    -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}
